* {
  font-family: sans-serif;
}

body {
  color: #333;
  background-image: url('bgbg.jpg');
  background-size: 800px 3000px;
  padding: 0;
  margin: 0;
}

header {
  background-color: #eee;
  border-bottom: 1px solid #333;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

header > * {
  text-align: center;
  margin: 5px;
}

header h3 {
  color: #800;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 10px 0;
  font-size: 1rem;
  width: 350px;
}

header img {
  height: 120px;
  width: 180px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 0 85px;
}

header nav {
  border-top: 1px solid #333;
}

nav a, #dropdown-content a {
  color: #333;
  background-color: #eee;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.current {
  background-color: #800;
  color: #eee;
}

#dropdown .current {
  color: #eee;
}

header nav a.current:hover {
  color: #333;
}

nav a:hover, .current:hover, #dropdown-content a:hover, .dropbtn:hover, .dropbtn:focus {
  color: #333;
  background-color: #ddd;
}

.dropbtn {
  width: 350px;
  color: #333;
  background-color: #eee;
  padding: 10px 0;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #333;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


#dropdown > a {
  color: #333;
  text-decoration: none;
  display: block;
  width: 350px;
}

#dropdown a:hover {
  color: #333;
  background-color: #ddd;
}

.show {
  display:block;
}

@media screen and (max-width: 780px) {
  header > * {
    margin: 0;
    width: 100%;
  }
  header img {
    border: none;
  }
  header nav {
    width: 100%;
  }
  .dropbtn, #dropdown a {
    width: 100vw;
  }
  header h3 {
    border: none;
  }
}

.page-title {
  text-align: center;
  background: #eee;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin: 10px auto;
  width: 90%;
}

.paragraph {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  background: #eee;
  width: 75%;
  margin: 20px auto;
  padding: 0 20px;
  line-height: 1.5em;
}

.paragraph h4 {
  text-decoration: underline;
}

.paragraph h3 {
  text-decoration: underline;
  font-size: 1rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

ul {
  margin: -10px;
}

ul.dashed {
  list-style-type: none;
}

ul.dashed > li {
  text-indent: -10px;
}

ul.dashed > li:before {
  content: "-";
  text-indent: -15px;
}

#processes {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
  margin: auto;
}

#processes > * {
  margin: 20px;
  height: max-content;
}

@media screen and (max-width: 1080px) {
  #processes {
    display: block;
    width: 100%;
  }
  #processes > * {
    margin: 20px auto;
  }
}

#pictureBox {
  padding: 0;
  text-align: center;
} 

#pictureBox img {
  width: auto;
  max-width: 300px;
  height: 280px;
  vertical-align:-webkit-baseline-middle;
  padding-right: 5px;
  padding-bottom: 10px;
}

.fb {
  font-size: 30px;
  position: relative;
  left: 90px;
  bottom: 40px;
  margin-bottom: -30px;
}

.fb a {
  color: #333;
}

h5 {
  margin-bottom: 0;
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}

.slideshow-container {
  width: max-content;
  margin: auto;
}

.slides {
  display: none;
}

.slides img {
  height: 500px;
}

#dots {
  text-align: center;
}

#dots > * {
  margin: 0 5px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: #ddd;
  display: inline-block;
  transition: background-color .5s ease;
}

.active {
  background-color: #800;
}

.dot:hover {
  cursor: pointer;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.prev,
.next {
  cursor: pointer;
  background-color: #ddd;
  color: #800;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 2px 5px;
  padding-bottom: 3px;
}

@media screen and (max-width: 720px) {
  .slides img {
    height: 300px;
  }
}

footer {
  margin-top: 25px;
  bottom: 0;
  width: 100%;
  padding: 5px;
  color:#eee;
  background-color:#800;
  text-align: center;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}